$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$containerWidth: 80%;
$border: 1px solid red;

@mixin translate($e) {
  -webkit-transform: translate($e);
  -moz-transform: translate($e);
  transform: translate($e);

}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;

}

body  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}
a{
  text-decoration: none;
  @include transition(.1s ease-in-out);
  cursor: pointer;

  &:hover{
    color: $red;
    @include transition(.1s ease-in-out);
    text-decoration: none;
  }
}


.container-fluid{
  line-height: 24px;
}
