@import "_config.scss";
@import "_contactPage.scss";

.spinningWheel{
  text-align: center;
  margin:0 auto;
  width:50px;height:50px;
  display: block;
}
header{
  position:relative;
  display: block;
  background: $white;
  width: 80%;
  margin:0 auto;
  height:7vh;
  max-width:1200px;
  .logo{
    position: absolute;
    top: 15%;
    left: 15px;
    font-size:30px;
    color:white
    //@include translate(-50%);
  }
  .logoImage{
    width: 60px;
    background: #fff;
    z-index: 10;
    position: absolute;
    top: -9px;
  }
  nav, nav ul, nav ul li{
    margin: 0;
    padding: 0;
  }
  nav{
    position: absolute;
    top: 30%;
    right: 15px;
    //@include translate(-50%);
    ul li{
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      &.last{
        margin:0;
      }
      a {
        font-size: 19px;
        line-height: normal;
        color: #222;
      }
    }
  }
}
.jumbotron{
  background-color: #b4b4b4;
  margin-top: 20px;
}

.card-img-top{
  margin-top: 10%;
}
.chuckNorrisForm{
  width:300px;
  display:inline-block;
  margin: 20px;


  input{
    display: block;
    width: 100%;
    padding:5px;

  }
  button{
    display: block;
    width: 100%;
    background:#333;
    color:white;
    margin-top:5px;
    border:0;
    padding:5px;
    cursor: pointer;
  }
}
.chuckNorrisList{
  display: inline-block;
  width:100%;
  list-style: none;
  margin-left: -20px;
  li{
    margin:0 auto;
    background: silver;
    color:#333;
    padding:20px 10px 0 30px ;
    margin:10px;
    padding:20px 10px 10px 20px;
    font-size:13px;
    border-radius:3px;
  }
}
.searchBlock{
  display:block;
  text-align: center;
  padding-top:20px;
}
.suggestionsBlok{
  width:100%;
  max-width:1000px;
  display:inline-block;


  .suggstionsList{
    list-style-type: none;
    margin-left:-20px;
    input{
      text-decoration: none;
      display: inline-block;
      background: #232222;
      padding: 5px 0px;
      margin: 2px;
      border-radius: 3px;
      -webkit-box-shadow: 0 2px 4px #999;
      box-shadow: 0 2px 4px #999;
      font-size: 10px;
      color:white;
      font-weight:600;
      border:0;
      @include transition(.1s ease-in-out);
      cursor: pointer;
      width: 130px;
      text-align: center;

      &:hover{
        box-shadow: 0;
        color:$red;
        @include transition(.1s ease-in-out);

      }
    }
  }
}

.searchHeader{
  text-align:center;
  display:block;
}
.suggestionsHeader{
  text-align:center;
}
.babyPhoto{
  //width:200px;
  margin: 0 auto;
}
.gifTitle{
  margin:40px auto;
  text-align: center;
}
.gifSearch{
  margin:50px auto;
  width: $containerWidth;

  input{
    min-width:200px;
    width:40%;
    display: block;
    margin: 0 auto;
    height: 60px;
    padding: 0 20px;
    border:0;
    background: #eee;
    border-radius: 3px 3px 0 0;
  }
  button{
    min-width:200px;
    width:40%;
    display: block;
    margin: 0 auto;
    background: #222;
    color:white;
    border: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 10px gray;
  }
}

.container1{
  width: 100%;
  margin: 20px auto;
  background: silver;

    div{
      display: inline-block;
      margin: 1%;
      img{
      width: 300px;
      border-radius: 5px;
      box-shadow: 0 1px 10px gray;
    }
  }
}

.TrumpForm{
  margin:50px auto;
  width: $containerWidth;

  input{
    min-width:200px;
    width:40%;
    display: block;
    margin: 0 auto;
    height: 60px;
    padding: 0 20px;
    border:0;
    background: #eee;
    border-radius: 3px 3px 0 0;
  }
  button{
    min-width:200px;
    width:40%;
    display: block;
    margin: 0 auto;
    background: #222;
    color:white;
    border: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 10px gray;
  }
}
.TrumpList{
  li{
    list-style-type:none;
    width:50%;
    margin:10px auto;
    background: #eeeeef;
    padding: 15px;
    box-shadow: 0 2px silver;
  }
}
.homePageButtons{
  background:#dc3545;
  padding:5px 20px;
  margin:20px;
  color:#222;

}
.homePageList{
  list-style-type: circle;
  margin:20px 0;
  p{
    display:inline;
  }
}

.display-3{
  margin-bottom: 50px;
}
.jumbotron{
  background:#ddd;
  height:700px;
  width: 80%;
  margin:30px auto;
}
.weatherApp{
  background: #fafafa;
  color: #767676;
  height:93vh;
  width:100vw;
}



.searchBlockWeather{
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 0;
  position: relative;

  input{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 5px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 1px 2px 1px silver;
    border-radius: 1px;
  }
  button{
    width: 10%;
    min-width: 75px;
    display: inline-block;
    border: none;
    padding: 5px;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 0 1px 1px 0;
    background: none;
    cursor: pointer;
    color: silver;
  }
}
.weatherButtons{
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
  position: relative;
  display: flex;

  button{
    background: none;
    color: #767676;
    padding:3px 15px;
    border: 0;
    flex-grow: 1;
    cursor: pointer;
    transition: .2s ease;

    &:hover{
      background: #9acbd6;
      border-radius: 1px;
      color: white;
    }
  }
}


.weatherBlock{
  width: 90%;
  min-height: 390px;
  display: block;
  margin: 50px auto;
  max-width: 800px;
  padding: 0;
  position: relative;
  padding: 20px 16px 24px 16px;
  box-shadow: 0 1px 2px 1px silver;
  border-radius: 1px;

  .weatherSearchHeader{
    font-size: 40px !important;
    display: inline-block;
    text-align: left;
    color: #878787 !important;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .searchHeader{
    width: 100%;
    display: block;
    text-align: left;
    color: #878787 !important;
    font-size: 20px;
  }
}
.weaatherIcon{
  margin:0 auto;
  width:50px;height:50px;
  display: inline-block;
  width: 50px;
}

.dailyList{
  margin-left: -40px;
  text-align: left;
  font-size: 14px;
  margin-top:40px;

  li{
    list-style: none;
    display: inline-block;
    width: 12.5%;
    transition: .2s ease;
    border: 1px solid transparent;


    &:hover{
      border: 1px solid #eee;
    }

    .hightTemperature{
      display: inline-block;
      color: #c33e3e;
    }
    .lowTemperature{
      color: #74a4b3;
      display: inline-block;
      margin-left: 10px;

    }
  }
}
.googleMap{
  float: right;
  width: 50%;
  height: 350px;
  border-radius: 1px;
  box-shadow: 0 1px 2px 1px silver;
}

@media (max-width:880px){
  .googleMap{
    display: block;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
  }
}
